-e git+https://github.com/keras-team/autokeras.git@3d520e2eb5d0fa5c6fcec94d48f768bacf833f04#egg=autokeras
-e git+https://github.com/DL-2020-Shakespeare/keras-tuner.git@5f35f101883a7884e9521de7db4eb632ab659775#egg=keras-tuner
bs4
gdown
gensim
jupyter
lxml
matplotlib
numpy
pandas
scikit-learn
seaborn
spacy
tensorflow==2.2.0rc4
tqdm
